.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 16px;
}

.item-1, .item-2, .item-3 {
  flex-basis: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.item-1 {
  background-color: #76aacc; 
}

.item-2 {
  background-color: #7c95a3; 
}

.item-3 {
  background-color: #8f6c21; 
}