.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.item-5, .item-6, .item-7, .item-9 {
  flex-basis: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: rgb(211, 168, 113);
}

.item-6 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(124, 110, 91);
}

.item-7 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(204, 122, 14);
}

.item-9 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(211, 113, 206);
}