.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    height: 400px;
}

.item-5, .item-17, .item-18 {
  flex-basis: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.item-5 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: rgb(16, 76, 87);
}

.item-17 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(218, 129, 47);
}

.item-18 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(112, 27, 161);
}