.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.item-5, .item-18, .item-19 {
  flex-basis: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: rgb(143, 228, 59);
}

.item-18 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(236, 177, 14);
}

.item-19 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(255, 138, 138);
}